:root {
 --bg-color: #F8FAFC;
 --text-primary: #0F172A;
 --text-secondary: #334155;
 --surface-primary: #FFFFFF;
 --surface-secondary: #EDE9FE;
 --graphic-elements: #94A3B8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: var(--bg-color);

}

body {
  -webkit-font-smoothing: antialiased;
}
